[submodule "externals/AndroidX.Data"]
	path = externals/AndroidX.Data
	url = https://github.com/moljac/HolisticWare.Xamarin.Tools.Bindings.XamarinAndroid.AndroidX.Data.git
[submodule "externals/Core.Text"]
	path = externals/Core.Text
	url = https://github.com/HolisticWare/HolisticWare.Core.Text.git
